extends ../base

block content 
    h3 Hello my Channel
    div 
        if user.avatarUrl 
            img(src="/"+user.avatarUrl width="250px")
        span #{user.channel}
        if loggedIn && loggedInUser._id === user.id
            a(href="/users/edit") 내 정보 수정
    ul 
        li 
            a(href="featured") 홈
        li 
            a(href="community") 커뮤니티
        li 
            a(href="about") 정보
        li 
            input(type="text" name="channel-search")
    div 
        block channelMain