extends ../base

block content 
    h1 Edit Channel
    a(href="") 내 채널 수정
    form(method="POST")
        input(type="text" name="channelName")
        input(type="file" name="avatarUrl")
        input(type="text" name="description")
        input(type="submit" value="채널 수정")

