$light-gray: #f9f9f9;
$gray: #e7e7e7;
$dark-gray: #cdcdcd;
$red: #fd0005;
$btn-red: #cc0001;
$btn-red-hover: #e32c2c;
$btn-red-hover-shadow: 0px 0px 3px #e32c2c;
$btn-blue: #185dd4;
$btn-blue-hover: #286de4;
$btn-blue-hover-shadow: 0px 0px 3px #286de4;
$blue: #35a3e8;
$user-i: #a8efb4;
