.form-template {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  form {
    border: 2px solid $dark-gray;
    border-radius: 2px;
    background-color: white;
    width: 100%;
    max-width: 448px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    padding: 40px 20px;
    h1 {
      font-size: 23px;
      margin-bottom: 30px;
    }
    &.short {
      height: 600px;
    }
    input {
      width: 300px;
      height: 36px;
      padding: 7px 33px;
      font-size: 15px;
      &[type="submit"] {
        width: 366px;
        height: 50px;
        background-color: $btn-blue;
        border: none;
        color: white;
        &:hover {
          background-color: $btn-blue-hover;
          box-shadow: $btn-blue-hover-shadow;
        }
      }
      &:not([type="submit"]) {
        margin-bottom: 27px;
      }
    }
    textarea {
      width: 300px;
      padding: 7px 33px;
      resize: vertical;
      margin-bottom: 27px;
      min-height: 36px;
    }
    hr {
      width: 80%;
      border: 0;
      background-color: $dark-gray;
      height: 1px;
      margin: 30px 0;
    }
    .social-login {
      li {
        width: 366px;
        height: 50px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
        i {
          position: absolute;
          left: 13px;
          font-size: 20px;
          color: white;
        }
        &.github {
          background-color: #2f2f2f;
          a {
            color: white;
          }
        }
        &.kakao {
          background-color: #f5b34f;
          i {
            color: #3c1e21;
          }
        }
        &.naver {
          background-color: #5bbc39;
          a {
            color: white;
          }
        }
      }
    }
    .ment {
      margin-top: 20px;
      a {
        color: $blue;
      }
    }
    .form-1row-2achor {
      display: flex;
      justify-content: space-around;
      width: 366px;
      height: 50px;
      a {
        width: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        &:first-child {
          background-color: $btn-blue;
          &:hover {
            background-color: $btn-blue-hover;
            box-shadow: $btn-blue-hover-shadow;
          }
        }
        &:last-child {
          background-color: $btn-red;
          &:hover {
            background-color: $btn-red-hover;
            box-shadow: $btn-red-hover-shadow;
          }
        }
      }
    }
  }
}
