doctype html 
html 
    head 
        if (pageTitle === WeTube)
            title WeTube 
        else 
            title #{pageTitle} - WeTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css")
    body 
        include partials/header
        main 
            form(action="/videos/search" method="GET")
                input(type="text" placeholder="검색어를 입력해주세요" name="keyword")
                button(type="submit") 검색
            block content
        footer
        block scripts