footer 
    div
    div
        span &copy; Wetube 2022
        div
            i.fa-brands.fa-github
            a(href="https://github.com/soyeonnnb/wetube-challenge" target="_blank")  https://github.com/soyeonnnb/wetube-challenge
    div