header
    nav 
        ul 
            li 
                a(href="/") WeTube
            li 
                a(href="/signup") signup
            li 
                a(href="/login") login
            li 
                a(href="") logout