header
    nav 
        ul 
            li 
                a(href="/") WeTube
            if loggedIn
                li 
                    a(href="") logout
            else
                li 
                    a(href="/signup") signup
                li 
                    a(href="/login") login