header
    nav 
        ul 
            li 
                a(href="/") WeTube
            if loggedIn
                li 
                    a(href="/logout") logout
                li 
                    a(href=`/users/channel/${loggedInUser._id}/featured`) 내 채널
            else
                li 
                    a(href="/signup") signup
                li 
                    a(href="/login") login
