header
    nav 
        ul 
            li 
                a(href="/") WeTube
            li 
                a(href="/users/signup") signup
            li 
                a(href="") login
            li 
                a(href="") logout