extends ../base

block content    
    if errorMessage 
        span=errorMessage
    div.form-template
        form(method="POST")
            h1 로그인
            input(type="text" name="username" placeholder="사용자 이름 또는 이메일" required value=formData?formData.username:"")
            input(type="password" name="password" placeholder="비밀번호" required value=formData?formData.password:"")
            input(type="submit" value="로그인")
            div.ment
                span 아직 계정이 없으십니까? 
                a(href="/signup")  계정 만들기 
        
            hr
            ul.social-login
                a(href="/users/github/start").github
                    i.fa-brands.fa-github 
                    span  깃허브 로그인
                a(href="/users/kakao/start").kakao
                    i.fa-solid.fa-comment
                    span  카카오 로그인
                a(href="/users/naver/start").naver
                    i.fa-solid.fa-n
                    span  네이버 로그인