extends ../base

block content 
    if errorMessage
        span=errorMessage
    div.form-template
        form(method="POST")
            h1 비밀번호 변경
            input(type="password" name="oldPw" placeholder="이전 비밀번호" required value=formData?formData.oldPw:"")
            input(type="password" name="newPw" placeholder="새로운 비밀번호" required value=formData?formData.newPw:"")
            input(type="password" name="new1Pw" placeholder="새로운 비밀번호 확인" required value=formData?formData.new1Pw:"")
            input(type="submit" value="비밀번호 변경")